<div class="hero-container">
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <br/>
                <img src="/assets/images/book-1.jpg" /> 
                <img src="/assets/images/book-2.jpg" />
                <img src="/assets/images/book-3.jpg" />
                <img src="/assets/images/book-4.jpg" />
                <img src="/assets/images/book-5.jpg" />
                <br /><br />
                <h6>Place hero advertisements for Mystery &amp; Crime features here.</h6>
                
            </div>
        </div>
    </div>
</div>

