<div class="hero-container">
    <div class="container">
        <div class="row">
            <div class="col d-flex justify-content-around mt-3">
                <br/>
                <img routerLink="/book/0" src="/assets/images/book-1.jpg" /> 
                <img routerLink="/book/2" src="/assets/images/book-3.jpg" />
                <img routerLink="/book/4" src="/assets/images/book-5.jpg" />
                <img routerLink="/book/6" src="/assets/images/book-7.jpg" />
                <img routerLink="/book/8" src="/assets/images/book-9.jpg" />                
            </div>
        </div>
        <div class="row">
            <div class="col text-center mt-2">
                <h6>Place hero advertisements for Mystery &amp; Crime features here.</h6>
            </div>
        </div>
    </div>
</div>

