<header>
    <div class="container">
        <div class="row">
            <div class="col-3">
            <img src="assets/images/logo-white.png" alt="Fanatic Books - Logo" height="52">
            </div>
            <div class="col-9 text-right">
                <app-account-info></app-account-info>
            </div>
        </div>    
    </div>
</header>

<!-- Primary Navigation Start-->
<nav>
    <div class="container">
        <div class="row">
            <div class="col-9">
                <ul class="mainNavList">
                    <li (mouseover)="secondaryToggle=true"><a>Biography</a></li>
                    <li (mouseover)="secondaryToggle=true"><a>Business</a></li>
                    <li (mouseover)="secondaryToggle=true"><a>Cookbooks</a></li>
                    <li (mouseover)="secondaryToggle=true"><a>Fiction</a></li>
                    <li (mouseover)="secondaryToggle=true"><a>Health &amp; Fitness</a></li>
                    <li (mouseover)="secondaryToggle=true"><a>History</a></li>
                    <li (mouseover)="secondaryToggle=true"><a>Religion &amp; Inspiration</a></li>
                    <li (mouseover)="secondaryToggle=true"><a>Self-Improvement</a></li>
                </ul>
            </div>
            <div class="col-3">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="search books" aria-label="Recipient's username"
                        aria-describedby="button-addon2">
                    <div class="input-group-append">
                        <button class="btn searchBtnColor" type="button" id="button-addon2">GO</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<!-- Primary Navigation End -->

<!--Secondary Nav Start-->
<app-secondary-nav *ngIf="secondaryToggle" (click)="secondaryToggle=false"></app-secondary-nav>
<!--Secondary Nav End-->



