<app-hero></app-hero>
<div class="container">
    <div class="row">
        <app-sidenav-list class="col-3 pt-3 sidenav"></app-sidenav-list>
        <div class="col-9 pt-3 bookTab-column">
            <h4>Most Popular Books Featured</h4>
            <div class="row">
                <div class="col-4 mt-3 mb-2" *ngFor="let booklist of booklist, let i=index">
                    <p><img src="/assets/images/book-{{i+1}}.jpg"></p>
                    <h6>{{booklist.title}}</h6>
                    <p>{{booklist.author}} - <span class="bookprice">{{booklist.price | currency}}</span></p>
                    <p><em>{{booklist.description}}</em></p>
                </div>
            </div>
        </div>
    </div>
</div>



