<div class="secondaryNav">
    <div class="container">
        <div class="row">
            <div class="col-9">
                <ul class="secondaryListOptions">
                    <li><a>African American Fiction</a></li>
                    <li><a>Anthologies</a></li>
                    <li><a>Christian Fiction</a></li>
                    <li><a>Drama</a></li>
                    <li><a>Essays</a></li>
                    <li><a>Fiction &amp; Literature Classics</a></li>
                    <li><a>Fiction Subjects</a></li>
                    <li><a>Folklore &amp; Mythology</a></li>
                    <li><a>Graphic Novels &amp; Comic Books</a></li>
                    <li><a>Historical Fiction</a></li>
                    <li><a>Horror</a></li>
                    <li><a>Humorous Fiction</a></li>
                    <li><a>Letters</a></li>
                    <li><a>Literary Criticism</a></li>
                    <li><a>Mystery &amp; Crime</a></li>
                    <li><a>Nautical &amp; Maritime Fiction</a></li>
                    <li><a>Novel &amp; Short Stories</a></li>
                    <li><a>People & Cultures</a></li>
                    <li><a>Poetry</a></li>
                    <li><a>Romance</a></li>
                    <li><a>Science Fiction & Fantasy</a></li>
                    <li><a>Short Stories</a></li>
                    <li><a>Teen Fiction</a></li>
                    <li><a>Thrillers</a></li>
                    <li><a>War &amp; Military Fiction</a></li>
                    <li><a>Westerns</a></li>
                    <li><a>Women's Fiction</a></li>
                    <li><a>World Literature</a></li>
                </ul>
            </div>
            <div class="col-3 text-center">
                <div class="callToAttentionAd">
                    Place an advertisement for <strong>Mystery &amp; Crime</strong> features currently in stock here...
                </div>
            </div>
        </div>
    </div>
</div>