<footer>
    <div class="container">
        <div class="row">
            <div class="col text-center">
                <ul class="footer-list">
                    <li><a>About Us</a></li>
                    <li><a>Corporate Information</a></li>
                    <li><a>Careers</a></li>
                    <li><a>Customer Service</a></li>
                    <li><a>Sitemap</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center mt-4 mb-4">
                <img src="assets/images/logo-white.png" height="52" routerLink="/">
            </div>
            <div class="col-12 text-center">
                Copyright 2019. Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat unde excepturi eaque laborum provident ipsum quibusdam fugiat aut, ad delectus quam nobis quisquam autem et, nostrum numquam temporibus non est.
            </div>
        </div>
        <div class="row">
            <div class="col text-center mt-4">
                <strong>Demonstration created by Danny Virasawmi for KPMG.</strong>
            </div>
        </div>
    </div>
</footer>
