/* You can add global styles to this file, and also import other style files */

/* Colors presented within Exercise Document */
$color-a: #064880;
$color-b: #015397;
$color-c: #215fa3;
$color-d: #009dd5;
$color-e: #68a900;
$color-f: #494949;
$color-g: #818181;
$color-h: #e9e9e9;
$color-i: #ffffff;


body {
    margin: 0;
}